.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
}

table.jambo_table {
    border: 1px solid rgba(221, 221, 221, 0.78);
}

table.jambo_table thead {
    background: rgba(52, 73, 94, 0.94);
    color: #ECF0F1;
}

th {
    text-align: left;
}

table.jambo_table tbody tr:hover td {
    background: rgba(38, 185, 154, 0.07);
    border-top: 1px solid rgba(38, 185, 154, 0.11);
    border-bottom: 1px solid rgba(38, 185, 154, 0.11);
}
