body {
  min-height: 100vh;
  padding-bottom: 40px;
  position: relative;
  .mix-flex-align-item(stretch);
  .mix-flexbox();
  .mix-justify-content(center);

  & #body {
    .mix-flex-align-item(stretch);
    .mix-flexbox();
    .mix-flex-wrap(wrap);
    width: 100%;

    & #cont {
      width: 100%;
      height: ~"calc(100% - 34px)";

      &.anonymous {
        width: 100%;
      }
    }

    & #nav {
      position:relative;
      background: #547657;
      height: 34px;
      width: 100%;
      color: #fff;

      & #profile {
        float: right;
        display: inline;
        padding: 8px 16px;
      }

      & #menu {
        display: inline;
        & .menuBlock {
          display: inline;
          padding: 8px 16px;
          & h3 {
            display: inline;
          }

          & a {
            display: inline;
            padding: 0px 6px;
          }
        }
      }
    }
  }

  & #ftr {
    bottom: 0;
    clear: both;
    color: #808080;
    font-size: 13px;
    height: 40px;
    position: absolute;
    padding: 10px 0;
    text-align: center;
    text-transform: lowercase;
    width: 100%;
  }
}

.grid {
  & #title {
    background: #cfddd0;
    color: black;
    padding: 8px 16px;

    & h1 {
      font-size: 24px;
    }
  }

  & #toolBar {
    padding: 8px 16px;
  }

  & #frmFilter {
    margin: 0 -6px;
    padding: 8px 16px;
    .mix-flexbox();
    .mix-flex-wrap(wrap);

    & .fView {
      min-width: 100px;
      width: 20%;
      padding: 0 6px 6px;

      & input[type=text], & input[type=password], & input[type=date], & input[type=datetime], & input[type=tel] {
        padding: 4px 2px;
      }

      & select {
        padding: 3px 2px;
      }
    }
  }

  & #beforeGrid {
  }

  & #grid {
    padding: 8px 16px;

    & table {
      width: 100%;

      & thead td {
        background: #749aff;
        color: #fff;
        text-align: center;
      }

      & tbody {
        & tr {
          cursor: pointer;
          &.selectedGridTableRow {
            background: #cffff6;
          }
        }
      }

      & td {
        border: 1px solid #808080;
        padding: 4px 2px;
      }
    }
  }

  & #afterGrid {
  }
}

#editForm {
  margin: 0 auto;
  padding: 30px 0;
  width: 500px;

  & .content {
    border: 1px solid #6713d2;

    & .entries {
      padding: 15px;
    }

    & .btns {
      padding: 15px;
      text-align: right;
    }
  }
}
