<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NFX" version="3.5.0.1" targetFramework="net45" />
  <package id="NFX.Erlang" version="3.5.0.1" targetFramework="net45" />
  <package id="NFX.MongoDB" version="3.5.0.1" targetFramework="net45" />
  <package id="NFX.MySQL" version="3.5.0.1" targetFramework="net45" />
  <package id="NFX.Wave" version="3.5.0.1" targetFramework="net45" />
  <package id="NFX.Web" version="3.5.0.1" targetFramework="net45" />
  <package id="NFX.WinForms" version="3.5.0.1" targetFramework="net45" />
</packages>