@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fnt/Roboto-Regular.ttf') format('truetype');
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  width: 100%;
}
ol,
ul {
  list-style: none;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
select {
  color: inherit;
}
button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
.fView {
  display: block;
  padding-bottom: 10px;
}
.fView label {
  display: block;
}
.fView input[type=text],
.fView input[type=password],
.fView input[type=date],
.fView input[type=datetime],
.fView input[type=tel],
.fView select,
.fView textarea {
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  width: 100%;
}
.fView input[type=text]:focus,
.fView input[type=password]:focus,
.fView input[type=date]:focus,
.fView input[type=datetime]:focus,
.fView input[type=tel]:focus,
.fView select:focus,
.fView textarea:focus {
  background-color: #ffffc0;
  border: 1px solid #808080;
}
.fView input[type=text]:disabled,
.fView input[type=password]:disabled,
.fView input[type=date]:disabled,
.fView input[type=datetime]:disabled,
.fView input[type=tel]:disabled,
.fView select:disabled,
.fView textarea:disabled {
  background-color: #e0e0e0;
  color: #b0b0b0;
  border: 1px solid #808080;
}
.fView input[type=text],
.fView input[type=password],
.fView input[type=date],
.fView input[type=datetime],
.fView input[type=tel] {
  padding: 8px 4px;
}
.fView select {
  padding: 6px 4px;
}
.fView fieldset {
  border: 1px solid #bfbfbf;
  padding: 8px;
}
.fView fieldset label {
  display: inline-block;
}
.fView textarea {
  display: block;
  width: 100%;
}
.fView .wvError {
  color: yellow;
  background: #ff8080;
}
.fView .wvRequired:after {
  content: " *";
  color: #FB2E50;
}
.wvCurtain,
.wvDialogBase {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAF0lEQVQImWNgQAW+cAKJxs3xZWBgYAAANwIBz+0UkPgAAAAASUVORK5CYII=) repeat;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
}
.wvDialogBase {
  overflow-x: hidden;
  overflow-y: auto;
}
.wvDialogContent {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 45%;
  position: absolute;
  top: 50%;
  display: block;
  background: #f0f0f0;
  border: 1px solid #808080;
  color: white;
  box-shadow: 6px 6px 10px #888888;
  margin: 10px 0;
  min-width: 400px;
}
.dlgYellow .wvDialogContent {
  background: #ffff00;
}
.dlgGreen .wvDialogContent {
  background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #588701 51%, #9ecb2d 100%);
}
.wvDialogHeader {
  background: #cfddd0;
  color: #383838;
  font-size: 1.37em;
  padding: 4px;
  height: 45px;
}
.wvDialogFooter {
  position: relative;
  float: right;
  width: 100%;
  height: 45px;
}
.dlgYellow .wvDialogHeader {
  background: red;
}
.dlgGreen .wvDialogHeader {
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
}
.wvDialogBody {
  display: block;
  color: black;
  padding: 4px;
  margin: 5px;
  overflow: auto;
  max-height: calc(25%);
}
.wvToast {
  display: block;
  position: fixed;
  background: black;
  border: 1px solid #808080;
  width: auto;
  padding: 8px;
  top: 45%;
  left: 50%;
  color: white;
  box-shadow: 2px 2px 10px #888888;
}
.wvToast_warning {
  display: block;
  position: fixed;
  background: yellow;
  border: 1px solid #bcbc00;
  width: auto;
  padding: 8px;
  top: 45%;
  left: 50%;
  color: black;
  box-shadow: 2px 2px 10px #888888;
}
.wvToast_error {
  display: block;
  position: fixed;
  background: #ff2020;
  border: 1px solid #ff8080;
  width: auto;
  padding: 8px;
  top: 45%;
  left: 50%;
  color: white;
  box-shadow: 2px 2px 10px #888888;
}
button,
input[type=button],
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a {
  -webkit-transition: text-decoration 0.15s ease-in-out;
  -moz-transition: text-decoration 0.15s ease-in-out;
  -o-transition: text-decoration 0.15s ease-in-out;
  -ms-transition: text-decoration 0.15s ease-in-out;
  transition: text-decoration 0.15s ease-in-out;
}
.button,
.button:visited {
  background: #f0f0f0;
  border: solid 1.5px;
  border-color: lightgray;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: bottom;
  white-space: nowrap;
  -webkit-transition: background 0.15s linear;
  -moz-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  -ms-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.button:hover:enabled,
.button:hover {
  background: #cfddd0;
  text-decoration: none;
  border-color: gray;
}
.button:active:enabled,
.button:active {
  -webkit-box-shadow: inset 0 0 6px rgba(5, 32, 53, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(5, 32, 53, 0.3);
  box-shadow: inset 0 0 6px rgba(5, 32, 53, 0.3);
}
.button:focus {
  text-decoration: none;
  -webkit-box-shadow: 0 0 5px rgba(5, 32, 53, 0.3);
  -moz-box-shadow: 0 0 5px rgba(5, 32, 53, 0.3);
  box-shadow: 0 0 5px rgba(5, 32, 53, 0.3);
}
.red-button,
.red-button:visited {
  background: #FB2E50;
  border: solid 1.5px;
  border-color: #fa062e;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: bottom;
  white-space: nowrap;
  -webkit-transition: background 0.15s linear;
  -moz-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  -ms-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.red-button:hover:enabled,
.red-button:hover {
  background: #cfddd0;
  text-decoration: none;
  border-color: gray;
}
.red-button:active:enabled,
.red-button:active {
  -webkit-box-shadow: inset 0 0 6px rgba(5, 32, 53, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(5, 32, 53, 0.3);
  box-shadow: inset 0 0 6px rgba(5, 32, 53, 0.3);
}
.red-button:focus {
  text-decoration: none;
  -webkit-box-shadow: 0 0 5px rgba(5, 32, 53, 0.3);
  -moz-box-shadow: 0 0 5px rgba(5, 32, 53, 0.3);
  box-shadow: 0 0 5px rgba(5, 32, 53, 0.3);
}
.green-button,
.green-button:visited {
  background: #4EF0AA;
  border: solid 1.5px;
  border-color: #28ed98;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: bottom;
  white-space: nowrap;
  -webkit-transition: background 0.15s linear;
  -moz-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  -ms-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.green-button:hover:enabled,
.green-button:hover {
  background: #cfddd0;
  text-decoration: none;
  border-color: gray;
}
.green-button:active:enabled,
.green-button:active {
  -webkit-box-shadow: inset 0 0 6px rgba(5, 32, 53, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(5, 32, 53, 0.3);
  box-shadow: inset 0 0 6px rgba(5, 32, 53, 0.3);
}
.green-button:focus {
  text-decoration: none;
  -webkit-box-shadow: 0 0 5px rgba(5, 32, 53, 0.3);
  -moz-box-shadow: 0 0 5px rgba(5, 32, 53, 0.3);
  box-shadow: 0 0 5px rgba(5, 32, 53, 0.3);
}
.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.menu-item {
  display: inline-block;
}
.dropbtn {
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: #fff0d0;
  color: black;
}
.dropdown {
  padding: 8px 16px;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: auto;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {
  background-color: #fff0d0;
}
.show {
  display: block;
}
body {
  min-height: 100vh;
  padding-bottom: 40px;
  position: relative;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
body #body {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
body #body #cont {
  width: 100%;
  height: calc(100% - 34px);
}
body #body #cont.anonymous {
  width: 100%;
}
body #body #nav {
  position: relative;
  background: #547657;
  height: 34px;
  width: 100%;
  color: #fff;
}
body #body #nav #profile {
  float: right;
  display: inline;
  padding: 8px 16px;
}
body #body #nav #menu {
  display: inline;
}
body #body #nav #menu .menuBlock {
  display: inline;
  padding: 8px 16px;
}
body #body #nav #menu .menuBlock h3 {
  display: inline;
}
body #body #nav #menu .menuBlock a {
  display: inline;
  padding: 0px 6px;
}
body #ftr {
  bottom: 0;
  clear: both;
  color: #808080;
  font-size: 13px;
  height: 40px;
  position: absolute;
  padding: 10px 0;
  text-align: center;
  text-transform: lowercase;
  width: 100%;
}
.grid #title {
  background: #cfddd0;
  color: black;
  padding: 8px 16px;
}
.grid #title h1 {
  font-size: 24px;
}
.grid #toolBar {
  padding: 8px 16px;
}
.grid #frmFilter {
  margin: 0 -6px;
  padding: 8px 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid #frmFilter .fView {
  min-width: 100px;
  width: 20%;
  padding: 0 6px 6px;
}
.grid #frmFilter .fView input[type=text],
.grid #frmFilter .fView input[type=password],
.grid #frmFilter .fView input[type=date],
.grid #frmFilter .fView input[type=datetime],
.grid #frmFilter .fView input[type=tel] {
  padding: 4px 2px;
}
.grid #frmFilter .fView select {
  padding: 3px 2px;
}
.grid #grid {
  padding: 8px 16px;
}
.grid #grid table {
  width: 100%;
}
.grid #grid table thead td {
  background: #749aff;
  color: #fff;
  text-align: center;
}
.grid #grid table tbody tr {
  cursor: pointer;
}
.grid #grid table tbody tr.selectedGridTableRow {
  background: #cffff6;
}
.grid #grid table td {
  border: 1px solid #808080;
  padding: 4px 2px;
}
#editForm {
  margin: 0 auto;
  padding: 30px 0;
  width: 500px;
}
#editForm .content {
  border: 1px solid #6713d2;
}
#editForm .content .entries {
  padding: 15px;
}
#editForm .content .btns {
  padding: 15px;
  text-align: right;
}
