#DashboardReport {
  table {
    border-collapse: collapse;
  }
  
  tr:nth-child(even) {
    background-color: #f0f0f0;
  }
  
  tr:nth-child(odd) {
    background-color: #fafafa;
  }
  
  th {
    background-color: #909090;
  }
  
  td {
    padding: 5px 10px;
    
  }
  
  .tag {
    border: 1px solid #909090;
    border-radius: 12px;
    padding: 5px 5px;
    margin: 2px 2px;
    background-color: #f2f2f2;
  }
  
  .report-body {
    margin: 20px 0px;
  }

}